<%- include('partials/header', { title: 'User Dashboard' }); %>

<main>
    <h2><%= message %></h2>
    <p>This is the user dashboard area.</p>
</main>

<p data-lang-placeholder="about"></p>
<p data-lang-placeholder="aboutText"></p>
<script src="/scripts/languageSwitcher.js"></script>

<%- include('partials/footer'); %>